body, html {
 background-color: #673DFD;
 color: #F4F2F1;
 height: 100%;
 font-size: 1.2em;

}
/*General styling*/
h1 {
    text-align: center;
    font-size: 2.6em;
    text-shadow: 0 0 20px #000000;
}

h2{
    visibility: hidden;
    font-size: 0em;
}

/*Header transition*/
.header-transition {
    font-weight: bolder;
    transition-property: font-weight;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.header-transition:hover {
    font-weight: lighter;
}

@media screen and (min-width: 768px){
    h1 {
        font-size: 3em;
}
    h2 {
        visibility: visible;
        font-size: 2em;
        text-align: center;
}
}

a {
    text-decoration: none;
}

i {
    padding-right: 0.2em;
}
/*Navigation bar*/
nav {
    background-color: #E64398;
    width: 100%;
    display: block;
    padding: 2.2%;
    text-align: center;
}

nav a {
    padding: 0.3em;
    font-size: 0.8em;
}

nav a:visited{
    color: #000;
}

nav a:link{
    color: #F4F2F1;
}

@media screen and (min-width: 768px) {
   nav {
    font-size: 1.8em;
    padding: 1.5%;
   } 
}

/*Styling for the main page*/

.bigpicture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("photos/ballpen-blur-close-up-461077.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }

.picturetext{
    text-align: center;
    background-color: #B39BC8;
    width: 59%;
    position: relative;
    top: 20%;
    left: 15%;
    color: #FFF;
    padding: 20px;
    
}

@media screen and (min-width: 768px) {
  .bigpicture {
    top: 0%;
    left: 0%;
    } 
    .picturetext {
        font-size: 1.4em;
    }
    
}

@media screen and (min-width: 992px) {
  .bigpicture {
    top: 0%;
    left: 0%;
  } 
}

button {
    background-color: #F0EBF4;
}

button a{
    color: #E64398;
}

/*About Me*/

.bio {
    background-color:#000;
    color: #F0EBF4;
    border: 4px solid #E64398;
    margin: 2%;
    border-radius: 20%;
    padding: 3em;
    box-shadow: inset 0 0 30px #fff;
    }

    .wrapper{
      overflow-wrap: break-word;  
    }
@media screen and (min-width: 768px) {
    .bio {
    border-radius: 50%;
    background-color: #F0EBF4;
    color: #000;
    padding: 5em;
    text-align: center;
    box-shadow: inset 0 0 20px #000000;   
}

}

/*Contact*/

.form{
    display: block;
    text-align: center;
}

form {
    display:inline-block;
    margin: 0 auto;
    background-color: rgb(220, 184, 252);
    box-shadow: inset 0 0 20px #000000;
    padding: 1.2em;
    color: #2a2c2c;
    }

input[type=text]{
    width: 85%;
    padding: 0.5em .8em;
    box-sizing: border-box;
    margin: 0.1em 0em 0.4em 0em;
}

input[type=email]{
    width: 85%;
    padding: 0.5em 0.8em;
    box-sizing: border-box;
    margin: 0.0em 0em 0.4em 0em;
}

textarea {
    width: 85%;
    box-sizing: border-box;
    margin: 0.0em 0em 0.4em 0em;
}

@media screen and (min-width: 765px) {
 
    h1 {
        margin: 0.5em auto 0.2em auto;
        padding-bottom: 0.01%;
    }

    h2 {
        margin-top: 0%;
        font-size: 2.2em;
    }

   }

/*Blog*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.1em;
    grid-auto-rows: minmax(10em, auto);
    margin-left: 1em;
}

.blog-style{
    background-color: #9BBFC8; 
    border-radius: 20%;
    text-align: center;
    padding: 1em;
    box-shadow: 2px 3px 5px 6px #2a2c2c;
}

ol, ul {
    list-style-type: none;  
}

@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(1, 4fr);
    }
}


/*Animations*/
@keyframes hvr-icon-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hvr-icon-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-buzz .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-buzz:hover .hvr-icon, .hvr-icon-buzz:focus .hvr-icon, .hvr-icon-buzz:active .hvr-icon {
    -webkit-animation-name: hvr-icon-buzz;
    animation-name: hvr-icon-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;}